@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: #000000;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}